@import "tailwindcss";

@theme {
    --animate-draw: draw 0.5s ease-out forwards;

    @keyframes draw {
        from {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
        }

        to {
            stroke-dashoffset: 0;
        }
    }
}

body {
    overflow: hidden;
}

/* Global Dark Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
    border: 2px solid #09090b;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}

.selection\:bg-blue-300::selection {
    background-color: rgba(147, 197, 253, 0.3);
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        z-index: 100;
    }
}